body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    height: 300px;
    text-align: center;
    background-color: aqua;
}
h1 a img{
    height: 200px;
    padding-top: 50px;
}
.menu {
    width: 100%;
    background-color: #333;
    overflow: hidden;
}
.menu a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
}
.dropdown {
    width: 25%;
    float: left;
    overflow: hidden;
    background-color: red;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: red;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}